---
# base CSS for collectionbuilder
---
@charset "utf-8";
@use "sass:map";
@use "theme-colors" as *;  
@use "theme-utilities";
@use "base";
@use "pages";
@use "ohd";
@use "custom";

/* Theme colors */
{% assign btns = site.data.config-theme-colors | where_exp: "item","item.color != nil" %}
{% if btns != empty %}
{% for btn in btns %}
{% assign color = btn.color | strip %}{% if color != empty %}
${{ btn.color_class | slugify }}: {{ color }};{% endif %}
{% endfor %}

$theme-colors: map-merge(
  (
    {% for btn in btns %}{% assign color = btn.color | strip %}{% if color != empty %}
    "{{ btn.color_class | slugify }}": ${{ btn.color_class | slugify }}{% unless forloop.last %},{% endunless %}
    {% endif %}{% endfor %}
  ),
  $theme-colors
);
{% endif %}

/* Variables */
:root {
  --base-font-family: {{ site.data.theme.base-font-family | default: "system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'" }};
  --base-font-size: {{ site.data.theme.base-font-size | default: '""' }};
  --text-color: {{ site.data.theme.text-color | default: '""' }};
  --link-color: {{ site.data.theme.link-color | default: '""' }};
}
